.clients {
    @extend %section;

    &__list {
        @extend %list;
    }

    &__title {
        @extend %section__title;
    }

    &__list {
        display: flex;
        justify-content: center;
     
    }


}



.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;   
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: var(--social-link-brand);
    transition-property:  color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
}



.clients__logo {
    fill: currentColor;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}